<div class="@GetDisplayClass() @GetBorderRadiusClass()" style="@GetDisplayStyle() @GetFloatStyle() @GetBorderRadiusStyle()">
	@ChildContent
</div>

@code {
    [Parameter]
    public CssValue<DisplayBuilder>? Display { get; set; }

    [Parameter]
    public CssValue<VisibilityBuilder>? Visibility { get; set; }

    [Parameter]
    public CssValue<FloatBuilder>? Float { get; set; }

    [Parameter]
    public CssValue<BorderRadiusBuilder>? BorderRadius { get; set; }

	[Parameter]
	public RenderFragment? ChildContent { get; set; }

    private string GetDisplayClass()
    {
        if (Display?.IsCssClass == true)
            return Display.ToString();

        return string.Empty;
    }

    private string GetDisplayStyle()
    {
        if (Display?.IsCssStyle == true)
            return Display.ToString();

        return string.Empty;
    }

    private string GetFloatStyle()
    {
        if (Float?.IsCssStyle == true)
            return Float.ToString();

        return string.Empty;
    }

    private string GetBorderRadiusClass()
    {
        if (BorderRadius?.IsCssClass == true)
            return BorderRadius.ToString();

        return string.Empty;
    }

    private string GetBorderRadiusStyle()
    {
        if (BorderRadius?.IsCssStyle == true)
            return BorderRadius.ToString();

        return string.Empty;
    }
}
